    @model CreateContact


<h1 class="text-center">Add Contact</h1>


<form method="post" class="align-center">
    <div class="text-center bg-dark bg-opacity-50 align-center w-50 m-auto text-white rounded-2">

        <div class="form-group">
            <label>Firstname</label>
            <br />
            <div class="align-center w-50 m-auto">
            @Html.EditorFor(model => model.Firstname, new { @class = "form-control" })
            @Html.ValidationMessageFor(expression: model => model.Firstname, message: null, htmlAttributes: new { @class = "text-danger", placeholder = "Firstname" })
            </div>
        </div>

        <div class="form-group">
            <label>Lastname</label>
            <br />
            <div class="align-center w-50 m-auto">
                @Html.EditorFor(model => model.Lastname, new { @class = "form-control" })
                @Html.ValidationMessageFor(expression: model => model.Lastname, message: null, htmlAttributes: new { @class = "text-danger", placeholder = "Lastname" })
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <br />
            <div class="align-center w-50 m-auto">
                @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(expression: model => model.Email, message: null, htmlAttributes: new { @class = "text-danger", placeholder = "Email" })
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <div class="align-center w-50 m-auto">
                @*
                @Html.EditorFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(expression: model => model.Password, message: null, htmlAttributes: new { @class = "password", placeholder = "Password"  })
                *@
                <input class="align-center w-50 m-auto form-control text-center" id="password" name="Password" type="password" />
            </div>
        </div>

    <input class="w-50 btn btn-danger  mt-3 rounded-2" type="submit" href="/Contact" value="Submit">

</div>
</form>