@using ExoAspMvc.Models.Contact
@model List<Contact>

<h1 class="text-center">Contacts</h1>

<div class="bg-transparent text-center m-auto">
    <p>Voici une brève présentation de la personne :</p>
    <div class="bg-dark bg-opacity-50 text-center text-white w-25 m-auto rounded-2">
        <p>Nom : Boualem</p>
        <p>Prénom : Zachary</p>
        <p>Adresse : Nivelles</p>
    </div>
</div>

<div class="w-100 bg-dark bg-opacity-50 text-center m-auto rounded-2 p-3">
    <a class="btn btn-primary" asp-controller="Contact" asp-action="AddContact">Add Contact</a>

    <table class="table table-bordered bg-light w-75 m-auto rounded-2 mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Firstname</td>
                    <td>@item.Lastname</td>
                    <td>@item.Email</td>
                    <td>@item.Password</td>
                    <td>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-warning m-1 rounded-2" asp-controller="Contact" asp-action="Details" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger m-1 rounded-2" asp-controller="Contact" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
